<body>
    <div class="container">
        <h1>Tests Overview</h1>
        <div class="test-container">
            {{#each tests}}
                <div class="test-item">
                    <div class="test-header">
                        <h2>Test ID: {{this.testID}}</h2>
                        <div>
                            <button onclick="editTest('{{this.testID}}')">Edit</button>
                            <form action="/adminViewQuiz/delete/{{this.testID}}" method="POST">
                                <input type="submit" class="btn btn-danger" value="Delete Quiz">
                            </form>
                            {{!-- <button onclick="deleteTest('{{this.testID}}')">Delete Quiz</button> --}}
                        </div>
                    </div>
                    <div class="test-details">
                        <p>Module: {{this.module}}</p>
                        <p>Number of Questions: {{this.numberOfQuestions}}</p>
                        <p>Total Points: {{this.totalPoints}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</body>

<script>
    function editTest(testID) {
        window.location.href = `/adminEditQuiz/${testID}`;
    }

    async function deleteTest(testID) {
        if (confirm("Are you sure you want to delete this test?")) {
            try {
                const response = await fetch(`/adminViewQuiz/delete`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ testID: testID })
                });
                const data = await response.json();
                if (data.success) {
                    window.location.reload();
                }
            } catch (error) {
                console.error('Error deleting test:', error);
            }
        }
    }
</script>
