<body>
    <div class="container">
        <h1>Tests Overview</h1>
        <div class="test-container">
            {{#each tests}}
                <div class="test-item">
                    <div class="test-header">
                        <h2>Test ID: {{this.testID}}</h2>
                        <div>
                            <button onclick="editTest('{{this.testID}}')">Edit</button>
                            <button onclick="deleteTest('{{this.testID}}')">Delete Quiz</button>
                        </div>
                    </div>
                    <div class="test-details">
                        <p>Module: {{this.module}}</p>
                        <p>Number of Questions: {{this.numberOfQuestions}}</p>
                        <p>Total Points: {{this.totalPoints}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</body>

<script>
    function editTest(testID) {
        window.location.href = `/adminEditQuiz/${testID}`;
    }

    //function deleteTest(testID) {
    //    fetch(`/adminEditQuiz/delete`, {
    //        method: 'DELETE',
    //        headers: {
    //        'Content-Type': 'application/json',
    //    },
    //    body: JSON.stringify({ testID: testID })
    //    })
    //    .then(response => response.json())
    //    .then(data => {
    //        if (data.success) {
    //            window.location.reload();
    //        }
    //    });
    //}

    function editTest(testID) {
        window.location.href = `/adminEditQuiz/${testID}`;
    }

    function deleteTest(testID) {
        if (confirm("Are you sure you want to delete this test?")) {
            fetch(`/adminEditQuiz/delete`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ testID: testID })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.reload();
                }
            });
        }
    }

</script>