<head>
    <link rel="stylesheet" href="css/workshopsUser.css">
    <script src="js/workshopMap.js"></script>
    <script>
        // Embed workshops data into a JavaScript variable
        const workshops = {{{json workshops}}};
    </script>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY0zEGiZRJ6kmm79kgqTkxuGnkXgJ0zhg&loading=async&callback=initMap">
    </script>
</head>
<div class="title-div">
    <h1>Find Your Financial Literacy Workshop</h1>
    <p>Explore our interactive map to find where our upcoming partnered financial literacy workshops are located.</p>
    <p>Use our map to sort by distance and find the fastest route there!</p>
</div>

{{!-- map api here --}}
<div class="filter-box container">
    <div class="filter-container">
        <h2>Filter</h2>
        <label for="workshopFilter">Workshop Travel Info:</label>
        <span></span>
        <select id="workshopFilter" onchange="filterWorkshop()" style="width:200px">
            <option value="" disabled selected>Select a workshop</option>
            {{#each workshops}}
                <option value="{{this.Workshop_Name}}">{{this.Workshop_Name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="flex-container">
            <div id="map"></div>
    </div>
</div>

<br>
<h1 style="text-align:center;">Upcoming Workshops</h1>
<div class="container">
    {{#if workshops.length}}
        <div class="flex-container">
        {{#each workshops}}
            <table class="workshopTables">
                <tr class="workshopImage">
                    <td colspan="2">
                        <img src="/images/{{this.Workshop_Image}}" alt="{{this.Workshop_Image}}" class="workshopTableImage"/>
                    </td>
                </tr>
                <tr>
                    <th colspan="2" style="padding-left:10px;">{{this.Workshop_Name}}</th>
                    <td></td>
                </tr>
                <tr>
                    <th></th>
                    <td onclick="openWorkshopModal({{json this}})" class="readMoreButton"><a href="#">Read More &rarr;</a></td>
                </tr>
            </table>
        {{/each}}
        </div>
    {{else}}
        No Current Workshops
    {{/if}}
</div>

{{!-- Modal --}}

<div id="workshopModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="modalWorkshopContent"></div>
    </div>
</div>